*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background:url('../5386360.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.displayResult{
    position: absolute;
    left: 50%;
    top: 4vh;
    transform: translateX(-50%);
    font-family: system-ui;
    display: flex;
    gap: 10px;
    
}

.score,.HighScore{
    color: #fff;
    background: #19741d;
    padding: 5px 10px;
    border-radius: 10px;    
    box-shadow: 0px 0px 5px #fff;
}

.center{
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.board{
    width: 80vmin;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-rows: repeat(28, 1fr);
    grid-template-columns: repeat(28, 1fr);
    background: url('../bg.png');
    background-repeat: no-repeat;
    background-size: 80vmin 80vmin;
    padding:6.7vmin  5.5vmin;
    box-shadow: 2px 2px 4px black;
}

.snake-p1{
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid black;
}

.snake-p2{
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid black;
}

.head{
    background-color: red;
    border-radius: 50%;
    border: 2px solid black;
}

.food{
    background: yellow;
    border-radius: 50%;
    border: 2px solid black;
}

.controls{
    height: 200px;
    width: 200px;
    margin-bottom: 30px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    font-size: 50px;
    border-radius: 10px;
    display: none;
}

.controls div:hover{
    cursor: pointer;
}

.controls div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 2px black;
}

.controls div:active{
    text-shadow: 0px 0px 2px black;
    border-radius: 50%;
    user-select: none;
}

.middle{
    background-color: #15c3e2;
    border-radius: 50%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px black;
}

@media only screen and (min-width:1024px){
    .center{
       padding-top: 30px;
    }
}
@media only screen and (max-width:768px){
    .score,.HighScore{
       font-size: 15px;
    }
    .controls{
        display: grid;
    }
}

@media only screen and (max-width:425px){
    .score,.HighScore{
       font-size: 13px;
    }
}

@media only screen and (max-width:375px){
    .score,.HighScore{
       font-size: 11px;
    }
}

@media only screen and (max-width:320px){
    .score,.HighScore{
       font-size: 9px;
    }
}
